body{
    background:url("back.jpg");
}
.header {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
}



.header a{
    display: flex;
    
    text-decoration: none;
    border-radius: 30px;
    width: 100px;
    padding: 20px;
}
.header a:hover{
    background-color: skyblue;
}
.container{ 
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-right: 100px;
    padding-left: 100px;
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
    font-size: medium;
    border-radius: 30px;
}

 .h h1{
    display: flex;
    padding-top: 20px;
    color:maroon;
    justify-content: center;
    align-items: center;
}
.container h4{
    justify-content: center;
    align-items: center;
    padding-left: 300px;
}
.container input{
  padding-top: 10px;
  padding-bottom: 10px;
    border-radius: 30px;
    border: none;
}

